<section id="subscriptionPlans">
    <div class="container-fluid howwork-content" name="HowItWorks">
        <div class="col-lg-12 dev-header">
            <h2>Available Subscription Plans</h2>
        </div>
        <div class="row card-section">
            {{#each subscriptionPlans}}
            <div class="col-lg-4">
                <div class="card dev-card custom-api-card">
                    <div class="card-body">
                        <h5 class="work-apicard-title">{{name}}</h5>
                        <p> Tier plan: {{tierPlan}} </p>
                        <p> {{description}}</p>
                        <a type="button" class="btn apilistbtn-primary"
                            href="{{../baseUrl}}/myAPIs?tierPlan={{name}}&apiId={{apiId}}">Subscribe</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>